html {
        background-color:#00040c;
        color:#ddd
}
body {
        margin:0em;
}

.command, .ocommand, .hcommand {
        background-color:#222;
        border:0em;
        display:table;
        width:100%;
}

.command {
        color:green;
}
input.command {
        display:table-cell;
}

.ocommand, .hcommand {
        color:yellow;
        font-style:italic;
}
span.ocommand {
        display:table-cell;
}

.hcommand {
        background-color:#352;
}

.prompt, .oprompt {
        text-align:right;
        font-weight:bold;
        display:table-cell;
        padding-right:0.5em;
        width:3em;
}

.prompt {
        color:#0f0;
}

.oprompt {
        color:yellow;
}



input.command {
        color:#0f4;
        width:100%;
        display:table-cell;
}

div.response {
        padding-left:5px;
}

.error {
        color:red;
}


div.pane {
        background-color:#000000;
        margin:0px 0px 5px 0px;
        border-color:red;
        border-style:none none solid none;
        border-width:2px;
}


