html {
        background-color:#00040c;
        color:#ddd
}
body {
        margin:0em;
}

.command {
        background-color:#111;
        width:100%;
        border:0em;
}

div.command {
        color:yellow;
        font-style:italic;
} 

input.command {
        color:#0f4;
}

div.response {
        padding-left:5px;
}

.error {
        color:red;
}


div.pane {
        background-color:#000000;
        margin:0px 0px 5px 0px;
        border-color:red;
        border-style:none none solid none;
        border-width:2px;
}


